.slideout-menu {
	position: fixed;
	top: 100px;
	bottom: 0;
	width: 1px;
	height: 18%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: 1;
	display: block;
	visibility: hidden;
   	transition: all 400ms ease;
   	transition-delay: 0s;
	background-color: rgba(250,250,250,1);
}

#menu {

}

.slideout-menu-left {
	left: 0;

}

.slideout-menu-right {
	right: 0;
}

.slideout-panel {
	will-change: transform;
	background-color: #EEE; /* A background-color is required */
	height: 100vh;
	width: device-width;
}

.slideout-open, .slideout-menu,
.slideout-open body,
.slideout-open .slideout-panel {
	overflow: hidden;
}

.slideout-open .slideout-menu {
	width: 250px;
	visibility: visible;
	display: block;
	padding-left: 5px;
	border-radius: 3px;
}
//my styles
.slideoutbtn {
	position: absolute;
	text-decoration: none;
	display: inline-block; 
	background-color: rgba(250,250,250,1); color: black;
	z-index: 1; top: 100px;
	padding-right: 13px; padding-bottom: 9px; padding-left: 5px;
	line-height: 10px; font-size: 3em; letter-spacing: -7px;
} 