@import 'variables';
@import 'mixins';
@import 'slideout';

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
}

h1 {
	font-family: $headerFont;
}

p {
	font-family: $bodyFont;
}

#masterContainer {
	width: device-width;
	height: 100vh;
}

#mapContainer {
	width: device-width;
	height: 100vh;
}